@import '~styles/_index';

$center-text-width: fluid-width(120px, 440px);

.not-found-rct-component {
  overflow: hidden;
  position: relative;

  &__text-section {
    background: radial-gradient(ellipse at bottom, $grey-darken-1 0%, $grey-darken-2 100%);
    display: flex;
    height: 100vh;
    text-align: center;
    width: 100vw;

    .center-text {
      @include text-stroke(1px, $white);

      color: $greendream-green;
      font: $font-weight-bold $font-size-sample $font-orbitron;
      margin: auto;
      padding-top: $fluid-spacing-sample;
      width: $center-text-width;
    }

    .bottom-text {
      @include text-stroke(1px, $black);

      bottom: 5%;
      color: $white;
      font: $font-weight-bold $font-size-sample $font-roboto;
      left: 50%;
      margin: 0;
      position: absolute;
      transform: translateX(-50%);
      z-index: 1;
    }

    .stars-sm {
      animation: animStar 50s linear infinite;
      background: transparent;
      box-shadow: $shadows-small;
      height: 1px;
      width: 1px;

      &:after {
        background: transparent;
        box-shadow: $shadows-small;
        content: " ";
        height: 1px;
        position: absolute;
        top: 2000px;
        width: 1px;
      }
    }

    .stars-md {
      animation: animStar 100s linear infinite;
      background: transparent;
      box-shadow: $shadows-medium;
      height: 2px;
      width: 2px;

      &:after {
        background: transparent;
        box-shadow: $shadows-medium;
        content: " ";
        height: 2px;
        position: absolute;
        top: 2000px;
        width: 2px;
      }
    }

    .stars-lg {
      animation: animStar 150s linear infinite;
      background: transparent;
      box-shadow: $shadows-big;
      height: 3px;
      width: 3px;

      &:after {
        background: transparent;
        box-shadow: $shadows-big;
        content: " ";
        height: 3px;
        position: absolute;
        top: 2000px;
        width: 3px;
      }
    }

    @keyframes animStar {
      from {
        transform: translateY(0px);
      }

      to {
        transform: translateY(-2000px);
      }
    }
  }

  &__rotated-section {
    @media (aspect-ratio: 1/1) {
      transform: translate(calc(-100vw * 3 / 20), calc(-100vh * 3 / 20));
    }

    @media (orientation: portrait) {
      transform: translate(calc((-100vw * 3 / 20) - ((100vh - 100vw) * 13 / 20)), calc(-100vh * 3 / 20));
    }

    @media (orientation: landscape) {
      transform: translate(calc(-100vw * 3 / 20), calc((-100vh * 3 / 20) - ((100vw - 100vh) * 13 / 20)));
    }

    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;

    .vortex {
      @media (orientation: landscape) {
        height: auto;
        width: 130vw;
      }

      @media (orientation: portrait) {
        height: 130vh;
        width: auto;
      }

      animation: rotation 3s linear infinite;
      max-width: none;
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

